<div class="container">
  <div class="section-row">
    <div class="sidebar">
      <button class="btn-new-chat">
        <mat-icon>add</mat-icon>
        Novo Mapa
      </button>
      <div class="section-chats">
        <button><mat-icon>chat</mat-icon>Sobre Poções</button>
        <button><mat-icon>chat</mat-icon>História da Magia</button>
        <button><mat-icon>chat</mat-icon>Sobre Alvo Dumbledore</button>
      </div>
      <div class="section-btn-end">
        <button><mat-icon>delete</mat-icon>Malfeito feito!</button>
        <button><mat-icon>logout</mat-icon>Log out</button>
      </div>
    </div>
    <div class="main">
      <div class="section-input">
        <input type="text" placeholder="Tente ser menos “trouxa”..." />
        <mat-icon class="icon-send">send</mat-icon>
      </div>
    </div>
  </div>
</div>
